.form-group {
  display: flex;
  flex-direction: row;
  background-color: #191919 !important;
  border-collapse: collapse;
  color: rgba(255, 255, 255, 0.81) !important;
  border-color: #2F2F2F !important;

  input {
    border: 1px solid #2F2F2F;
    background-color: inherit;
    color: inherit;
  }
}

.save-btn,
.return-home {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  color: inherit;
  border: 1px solid #2F2F2F;
  padding: 5px 10px;
  font-size: 1em;
  height: 40px;
  line-height: 1;
  text-decoration: none;
  margin: 0;
  box-sizing: border-box;
}
